# Python Cache and Build Files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.venv/

# Venv and Environment Variables
.venv/
.env
tokens/
*.json

# Git
.git/
.github/
.gitignore
.gitattributes
.pre-commit-config.yaml

# Documentation and Notebooks
*.md
*.ipynb
notebooks/
docdrafts/

# Tests and Temporary Files
tests/