#json directory contains sensitive information
json/*

#venv
.venv/

#sandbox
notebooks/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class