#local files and API keys
tokens/
demos/
.venv/
.env
docdrafts/
template.txt
.DS_Store

# Jupyter Notebook checkpoints
notebooks/
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class