# Local files and API keys
.DS_Store
.env
.inbox_zero.egg-info/
.venv/
demos/
docdrafts/
logs/
template.txt
tokens/

# Jupyter Notebook checkpoints
.ipynb_checkpoints
notebooks/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class